.App {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 40px 160px;
}

.calcContainer {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayContainer {
  background: rgb(112, 112, 112);
  text-align: right;
  padding: 0 20px;
  color: #fff;
}

.inputContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.inputContainer button {
  height: 50px;
  border: 1px solid gray;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(41, 41, 41);
}

.inputContainer button:nth-child(4),
.inputContainer button:nth-child(8),
.inputContainer button:nth-child(12),
.inputContainer button:nth-child(16),
.inputContainer button:nth-child(19) {
  background: orange;
}

.inputContainer button:nth-child(17) {
  grid-column-start: span 2;
}
